#register {
    width: 450px;
    height: 100px;
    margin: 50px auto;
}

p {
    text-align: center;
    margin: 10px auto;
}

#btn {
    margin-left: 360px;
    margin-top: -21px;
    width: 100px;
    height: 25px;
    font-size: 14px;
    color: #7904c9
}

.buttons {
    width: auto;
}

fieldset {
    background-color: mistyrose;
}
h4{
    margin: 0 auto;
}

body {
    background-color: #ecfcf9;
}